html {
    background:  url(/static/images/background_image-01.JPG) no-repeat center center fixed;
    background-size: cover;
    min-height:100%
}
#music{
    position: absolute;
    right: 40%;
    top: 90%;
}
.containertodo{
}
.containertotal{
    width: 100%;
}
.containertexto{
    position: absolute;
    top: 13%;
    left: 110px;
    width: 600px;
    color: #fff;
    font-weight: 900;
    font-size: 13px;
    text-align: left;
    font-family: courier;
}
.croquis{
    background:  url(/static/images/croquis-01.png);
    width: 751px;
    height: 231px;
    position: absolute;
    left: 27%;
    top: 45%;
    opacity: 0.5;
    z-index: 22;
}
.croquis:hover{
    opacity: 1;
}
