{% extends "base.html" %}
<title>{% block title %}Matta | About{% endblock title %}</title>
{% block header %}
{% endblock header %}
{% block content %}
    
    <a href="/"><h3 class="top">JULIÁN MATTA</h3></a>
    <br>
    <div class="down">
        
    </div>
    <div class="col-md-12 about">
        <div class="row">
            <div class="col-md-3 mini">
                
                    Julián Matta nació en Resistencia, Chaco. Estudió Dirección de Cinematografía en la Universidad del
                    Cine, de Buenos Aires. Se dedica a la plástica, realizó varias muestras individuales en museos y
                    galerías de Chaco, ciudad de Córdoba y Capital Federal. Es productor y director audiovisual, dirigió
                    varios cortometrajes, y videos musicales. Ejerce la docencia desde el 2013.
            
                
            </div>
            <div class="col-md-9">
                
                    <h3>ESTUDIOS</h3>
                    <span class="lala">2004-2008</span> Dirección de Cinematografía. Universidad del Cine. CABA. Buenos Aires.
                    <br><br><br>
                    <h3>DOCENCIA</h3>
                    <span class="lala">2014</span> Profesor Adjunto ”Tecnologías aplicadas al arte II: Tecnologías del espectáculo”. Facultad de artes, diseño y ciencias de la cultura. Resistencia <br>
                    <span class="lala">2013-2014</span> JTP “Seminario taller de artes combinadas I: Imagen y sonido.” Facultad de Artes, Diseño y ciencias de la Cultura. Resistencia, Chaco. <br>
                    <span class="lala">2011</span> Curso de análisis de Novela gráfica en la Fundación Mempo Giardinelli. Resistencia, Chaco. <br>
                    <span class="lala">2010</span> Curso de Análisis audiovisual en la Fundación Mempo Giardinelli. Resistencia, Chaco. <br>
                    <span class="lala">2007-2012</span> Análisis audiovisual. Carrera Ciencias de la Educación. Universidad Nacional del Nordeste.
                    <br><br><br>
                    <h3>MUESTRAS</h3>
                    <span class="lala">2015</span> Muestra colectiva de pintura “De entre los Ismos, el Ñerismo”, Galería Limbo. Corrientes. <br>
                    <span class="lala">2015</span> Muestra colectiva multidisciplinar “CUMULUS”, organizada por el Fondo Nacional De las Artes. Museo del Centro Cultural Universitario. Corrientes. <br>
                    <span class="lala">2015</span> Muestra individual instalatoria “La Revolución de Durlock”. Centro Cultural Nordeste. Resistencia, Chaco. <br>
                    <span class="lala">2014</span> Muestra individual de pintura “La Forma sobre tu muro”. Museo de Bellas Artes. Resistencia, Chaco. <br>
                    <span class="lala">2014</span> Finalista expositor de la convocatoria “Premio Arte Vittal” vinculado a la Fundación Vittal, Espacio Modos. Buenos Aires. <br>
                    <span class="lala">2012</span> Finalista de la convocatoria “Espacio Cabrera” vinculado a la Universidad de Palermo, Impulso Cabrera 2012. Buenos Aires. <br>
                    <span class="lala">2012</span> Muestra de pintura“chaco Salvaje” junto a Luciano Acosta en el salón de exposiciones de la UCEMA. Buenos Aires. <br>
                    <span class="lala">2012</span> Participó en la muestra colectiva de fotografía “Íconos del Chaco, lenguaje de una identidad” en La Casa del Chaco. Buenos Aires. <br>
                    <span class="lala">2012</span> Participó de la “Muestra de historiétas e ilustraciones” Centro Cultural Ballo. Buenos Aires. <br>
                    <span class="lala">2012</span> Muestra individual “Postales del Fin del Mundo” Centro Cultural Alternativo. Rcia. Chaco. <br>
                    <span class="lala">2012</span> Muestra individual “Postales del Fin del Mundo” Galería Roxabordo. Buenos Aires. <br>
                    <span class="lala">2012</span> Muestra en la Galería Carmen Tenerani, junto a Luciano Acosta. Rcia. Chaco. <br>
                    <span class="lala">2011</span> Participó de la 1era Bienal de Arte y Pintura de la Província de Chaco. Resistencia. <br>
                    <span class="lala">2011</span> Produjo y participó del ciclo de arte en vivo ”Manchando al tigre” en el Fogón de los Arrieros. Rcia. Chaco. <br>
                    <span class="lala">2011</span> Participó en la muestra colectiva Ideas al plato en la galería “Mundo Nuevo”. Buenos Aires. <br>
                    <span class="lala">2011</span> Expuso pintura en el Centro Cultural Enrique Brissio, en el marco del Festival de Folclore de la Ciudad de Cosquín, Córdoba. <br>
                    <span class="lala">2010</span> Muestra individual de ilustraciones ”Mientras el lobo no esté” en el Fogón de los Arrieros. Rcia. Chaco. <br>
                    2010 Muestra individual de ilustraciones Mientras el lobo no esté en Centro Cultural Casa Brasil. Córdoba.
                    <br><br><br>
                    <h3>C U R S O S Y T A L L E R E S </h3>
                    <span class="lala">2014</span> Beca Taller de análisis, seguimiento y producción . Fondo Nacional De Las Artes. Cruce de artistas Chaco, Corrientes y Misiones. <br>
                    <span class="lala">2013- 2015</span> Taller de artes visuales “Esto no es una academia” a cargo de Diego Figueroa. Resistencia, Chaco. <br>
                    <span class="lala">2009</span> Curso de Guión cinematográfico Story, dictado por Robert Mckee. Año 2009. Duración: 3 jornadas. Buenos Aires. <br>
                
            </div>
        </div> <!-- end row -->
        <div class="col-md-3 pdf">
            <a href="/cv"><i class="fa fa-file-pdf-o fa-3x"></i>&nbsp;&nbsp;Julian_Matta_cv.pdf</a>
        </div>
    <div class="down"></div>
    <div class="down"></div>
    </div>
    
{% endblock content %}