{% extends "base.html" %}
<title>{% block title %}julian | Matta{% endblock title %}</title>
{% block header %}
{% endblock header %}

{% block content %}
    <a href="/"><h3 class="top">JULIÁN MATTA</h3></a>
    <a href="/about">
        <h3 class="top rig">ACERCA</h3>
    </a>
    <div class="container">
        <div class="wrap">  
            <div class="example-one glitch" data-text="LA_revolucion_DE_KCOLRUD"><a href="/revolucion">LA REVOLUCIÓN DE DURLOCK</a>
            </div>
    </div>
    
{% endblock content %}