{% extends "base.html" %}
{% block css %}
    <link href="/static/css/project.css" rel="stylesheet">
    <link href="/static/css/revo.css" rel="stylesheet">
{% endblock css %}
{% block header %}
{% endblock header %}
{% block content %}
    <a href="/"><h3 class="top">JULIÁN MATTA</h3></a>

    <div class="containertotal">
    <div class="containertodo">
    </div>
    <div class="videocontainer">
        <iframe width="300" height="214" src="https://www.youtube.com/embed/GzNGMwKKp3c" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="containertexto">
        En su instalación, Julian Matta nos guía en el recorrido de un relato que revela sus cuerdas y se funde en el cliché. Con la intención de trazar un paisaje atravesado por el recurso estético de la textura, nos introduce en la trama de la ambigüedad contemporánea. Ambigüedad que, asomándose en la noción de un progreso urbano, devora nuestra intimidad. Ambigüedad que, colándose en la atmósfera cotidiana de muebles, obras y objetos propios, nos da otra luz que los transforma en ajenos. El afuera se cuela en nuestros hogares, como manchas de humedad en la pared….
        Hay un afán de búsqueda que ansía el movimiento, mediante juegos de simetrías y obstáculos en el desplazamiento. Nos agobia la atmósfera grotesca que propone la confluencia de texturas, que son otra cosa. Son más que imágenes que van sembrando nuestra memoria, que van reconstruyendo nuestra percepción. A su vez, nosotros somos un filtro. Somos, tal vez, un canal constante de edición. Nos conectamos con el mundo a través de interferencias que redefinen el contexto de aquello que vemos…
        La revolución de Durlock nos invita a revelar los hilos que enhebran la manipulación de la imagen. La entrada de información en nuestro aparato visual se da en plano, es decir, en dos dimensiones. Es el cerebro el que se encarga de ponerlo todo en tercera dimensión y de darle forma. En definitiva, toda percepción lleva implícita una decisión, cerrar ciertos sentidos, cerrar ciertas puertas para acceder al mundo.
        En el medio de toda esta circulación de información, de toda esta influencia, construimos nuestra identidad. Aquello ajeno parece provenir de nosotros. Somos un todo. En la búsqueda de escapar no desaparecemos, nos convertimos de a poco en cada detalle que se ajusta a nuestra percepción. La porosidad de la textura, que, trazada urbanamente, nos sumerge siempre en la nostalgia de ser eterno, se nos presenta aquí, hoy como parte de lo efímero…
        <br><br><br>
        Luisa Bancalari
    </div>
    <a href="#"><div class="croquis"></div></a>
    <audio id="audio" src="/static/images/MuestraJulian_mezcla-limited.mp3" loop autoplay></audio>
        <div id="music" class=  "up">
            <img id="play" src="/static/images/soundspect_.gif" alt="">
        </div>

    </div>
{% endblock content %}
