{% extends "base.html" %}
{% block css %}
    <link href="/static/css/project.css" rel="stylesheet">
    <link href="/static/css/revo.css" rel="stylesheet">
{% endblock css %}
{% block header %}
{% endblock header %}
{% block content %}
    <a href="/"><h3 class="top">JULIÁN MATTA</h3></a>

    <div class="containertotal">
    <div class="containertodo">
    </div>
    <div class="videocontainer">
        <iframe width="300" height="214" src="https://www.youtube.com/embed/GzNGMwKKp3c" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="containertexto">
    La obra propone la construcción en el espacio de un recorrido lúgubre y decadente que recrea atmósferas de intimidad
    que se mezclan con lugares públicos, escenas realistas que se cruzan con intervenciones surrealistas. Un espacio que
    apela a lo inmersivo, pero que a su vez busca distanciar al espectador y delatar el dispositivo. Una obra plagada de
    contrastes y contradicciones que habilitan una lectura más activa y cínica por parte del espectador.
    <br><br>
    Temáticamente La revolución busca reflexionar sobre el problema de la burocracia institucional, la invasión de la
    publicidad política a nuestra intimidad y sobre el estado de anhedonia que se vive en el interior de la Argentina.
    <br><br>

    </div>
    <a href="#"><div class="croquis"></div></a>
    <audio id="audio" src="/static/images/MuestraJulian_mezcla-limited.mp3" loop autoplay></audio>
        <div id="music" class=  "up">
            <img id="play" src="/static/images/soundspect_.gif" alt="">
        </div>

    </div>
{% endblock content %}
